<div class="col-sm-6">
  <h2>Cuentas</h2>
</div>
<table class="table mt-3">
  <thead >
    <tr class="table-info">
      <th># Cuenta</th>
      <th>Cliente</th>
      <th>Saldo</th>
      <th>Tipo</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cuenta of cuentas">
      <td>
        {{cuenta.numero_cuenta}}
      </td>
      <td>
        {{cuenta.id_cliente}}
      </td>
      <td>
        {{cuenta.saldo}}
      </td>
      <td>
        {{cuenta.tipo}}
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-info" (click)="mostrarUpdate(cuenta)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteCuenta(cuenta._id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="card text-white bg-secondary mb-3">
  <div class="card-body">
    <h3 [hidden]="Addoculto">Agregar cuenta</h3>
    <h3 [hidden]="Updateoculto">Actualizar cuenta</h3>
    <div class="input-group">
      <input type="text" name="cuenta" [(ngModel)]="numero_cuenta" placeholder="# Cuenta" class="form-control">
      <input type="text" name="cliente" [(ngModel)]="id_cliente" placeholder="Cliente" class="form-control">
      <input type="text" name="saldo" [(ngModel)]="saldo" placeholder="Saldo" class="form-control">
      <input type="text" name="tipo" [(ngModel)]="tipo" placeholder="Tipo" class="form-control">
      <span class="input-group-addon mx-2">
        <button type="button" [hidden]="Addoculto" class="btn btn-success" (click)="addCuenta()">
          <i class="fa fa-plus"></i>
        </button>
        <button type="button" [hidden]="Updateoculto" class="btn btn-info" (click)="updateCuenta()">
          <i class="fa fa-edit"></i>
        </button>
      </span>
    </div>
  </div>
</div>

