<h3 class="text-center display-4">Materias</h3>
<div class="row">
  <div class="clas mt-3 col">
    <table class="table">
      <tbody>
        <tr *ngFor="let item of nActividades; let i = index">
          <td class="align-items-center justify-content-between">
            <a class="text-capitalize display-4">{{nActividades[i][0]}}</a>
            <br>
            <div *ngIf="nActividades[i][1]!=0">
              <a href="" [routerLink]="['/ActividadesEstudiante', {materia:nActividades[i][2]}]" class="text-muted font-weight-bold">Hay
                <span class="badge badge-primary badge-pill">{{nActividades[i][1]}}</span> actividad(es) pendiente(s)</a>
            </div>
            <div *ngIf="nActividades[i][1]==0">
              <a class="text-muted font-weight-bold">Hay
                <span class="badge badge-primary badge-pill">{{nActividades[i][1]}}</span> actividad(es) pendiente(s)</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
