<h3 class="text-center display-4">Nuevo reto</h3>
<br>
<div class="row">
  <div class="input-group mt-3 mb-3">
    <div class="col-md-6 mt-3">
      <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="grado">Grado</label>
      <br>
      <ss-multiselect-dropdown [options]="myOptions" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange)="onGradoSelected()"></ss-multiselect-dropdown>
    </div>
    <div class="col-md-2">
      <label for="materia">Materia</label>
      <select class="form-control" [(ngModel)]="selectedMateriaNombre" id="materia" (ngModelChange)="onMateriaSelected()">
        <option *ngFor="let materia of materias" [value]="materia.nombre">{{materia.nombre}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="tema">Tema</label>
      <select class="form-control" [(ngModel)]="selectedTemaNombre" id="tema" (ngModelChange)="onTemaSelected()">
        <option *ngFor="let tema of temas" [value]="tema.nombre">{{tema.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="input-group mt-3 mb-3">
    <div class="form-inline col mt-3">
      <input type="text" name="pregunta" [(ngModel)]="pregunta" placeholder="Pregunta" class="form-control col-md-7">
      <div class="input-group col-md-3">
        <div class="custom-file">
          <input class="custom-file-input" id="archivos" name="archivos" type="file" appCustomOnChange/>
          <label class="custom-file-label" for="archivos">Seleccione imagen</label>
        </div>
      </div>
      <div class="col-md-2 mt-1" *ngIf="inputEl[0].files[0]!=undefined">Nombre: {{inputEl[0].files[0].name.toLowerCase()}}</div>
    </div>
  </div>




  <div class="col">
    <div class="card">
      <h5 class="card-header">Respuestas</h5>
      <div class="input-group mt-3">
        <div class="ml-3 mt-2">
          <input [(ngModel)]="esCorrecta" type="checkbox">
        </div>
        <div class="col-md-7">
          <input type="text" name="respuesta" [(ngModel)]="respuesta" placeholder="Respuesta" class="form-control">
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <div class="custom-file">
              <input class="custom-file-input" id="archivos" name="archivos" type="file" />
              <label class="custom-file-label" for="archivos">Seleccione imagen</label>
            </div>
          </div>
        </div>
        <div class="col-md-1 mr-3">
          <button type="button" class="btn btn-outline-success" (click)="agregarRespuesta()">
            Agregar respuesta
          </button>
        </div>
      </div>
      <div class="input-group mt-3">
        <div class="col-md-1 font-weight-bold">Correcta</div>
        <div class="col-md-7 font-weight-bold">Respuesta</div>
        <div class="col-md-3 font-weight-bold">Imagen</div>
        <div class="col-md-1 font-weight-bold">Eliminar</div>
        <div class="input-group mt-1" *ngFor="let respuesta of ListaRespuestas">
          <div class="col-md-1 text-center bg-success" *ngIf="respuesta.esCorrecta">
            <button class="btn btn-success" disabled>
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-1 text-center bg-danger" *ngIf="!respuesta.esCorrecta">
            <button class="btn btn-danger" disabled>
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>

          <div class="col-md-7 mt-1">{{respuesta.respuesta}}</div>
          <div class="col-md-3 mt-1" *ngIf="respuesta.imagen[0]==undefined">Sin imagen</div>
          <div class="col-md-3 mt-1" *ngIf="respuesta.imagen[0]!=undefined">{{respuesta.imagen[0].name}}</div>
          <div class="col-md-1">
            <button class="btn btn-danger btn-sm" (click)="eliminarRespuesta(respuesta.respuesta)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>








  <div class="col-md-12 mt-3 text-center">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary btn-lg" (click)="guardarReto()">
        Guardar Reto
      </button>
      <button type="button" class="btn btn-outline-success btn-lg" disabled (click)="publicarReto()">
        Publicar Reto
      </button>
    </div>
    <br>
    <br>
  </div>
</div>
