<div class="table-title">
  <div class="row">
    <div class="col-sm-6">
      <h2>Computadores</h2>
    </div>
    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" value="Agregar Computador">
      <i class="material-icons">&#xE147;</i>
    </button>
  </div>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">HDD</th>
      <th scope="col">Ram</th>
      <th scope="col">Procesador</th>
      <th scope="col">Pulgadas</th>
      <th scope="col">Disponible</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let computador of computadores; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{computador.marca}}</td>
      <td>{{computador.modelo}}</td>
      <td>{{computador.discoduro}}</td>
      <td>{{computador.ram}}</td>
      <td>{{computador.procesador}}</td>
      <td>{{computador.pulgadas}}</td>
      <td>{{computador.disponible}}</td>
      <td>
        <button class="btn btn-info btn-small" (click)="cargarComputadorUpdate(computador)" data-toggle="modal" data-target="#updateModal">
           <i class="material-icons">edit</i>
        </button>
        <button class="btn btn-danger btn-small" (click)="deleteComputador(computador._id)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="addComputador()">
          <div class="row">
            <div class="form-group col">
              <label>Marca</label>
              <input type="text" [(ngModel)]="marca" name="marca" class="form-control">
            </div>
            <div class="form-group col">
              <label>Modelo</label>
              <input type="text" [(ngModel)]="modelo" name="modelo" class="form-control">
            </div>
            <div class="form-group col">
              <label>HDD</label>
              <input type="text" [(ngModel)]="discoduro" name="discoduro" class="form-control">
            </div>
            <div class="form-group col">
              <label>Ram</label>
              <input type="text" [(ngModel)]="ram" name="ram" class="form-control">
            </div>
            <div class="form-group col">
              <label>Procesador</label>
              <input type="text" [(ngModel)]="procesador" name="procesador" class="form-control">
            </div>
            <div class="form-group col">
              <label>Pulgadas</label>
              <input type="text" [(ngModel)]="pulgadas" name="pulgadas" class="form-control">
            </div>
            <div class="form-group">
              <label>Disponible</label>
              <input type="checkbox" [(ngModel)]="disponible" name="disponible" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addComputador()">Registro</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="addComputador()">
            <div class="row">
              <div class="form-group col">
                <label>Marca</label>
                <input type="text" [(ngModel)]="marca" name="marca" class="form-control">
              </div>
              <div class="form-group col">
                <label>Modelo</label>
                <input type="text" [(ngModel)]="modelo" name="modelo" class="form-control">
              </div>
              <div class="form-group col">
                <label>HDD</label>
                <input type="text" [(ngModel)]="discoduro" name="discoduro" class="form-control">
              </div>
              <div class="form-group col">
                <label>Ram</label>
                <input type="text" [(ngModel)]="ram" name="ram" class="form-control">
              </div>
              <div class="form-group col">
                <label>Procesador</label>
                <input type="text" [(ngModel)]="procesador" name="procesador" class="form-control">
              </div>
              <div class="form-group col">
                <label>Pulgadas</label>
                <input type="text" [(ngModel)]="pulgadas" name="pulgadas" class="form-control">
              </div>
              <div class="form-group">
                <label>Disponible</label>
                <input type="checkbox" [(ngModel)]="disponible" name="disponible" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateComputador()">Registro</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>