<div class="card">
  <div class="card-body">
    <h3 [hidden]="Addoculto">Agregar carro</h3>
    <h3 [hidden]="Updateoculto">Actualizar carro</h3>
    <div class="input-group">
      <input type="text" name="marca" [(ngModel)]="marca" placeholder="Marca" class="form-control">
      <input type="text" name="modelo" [(ngModel)]="modelo" placeholder="Modelo" class="form-control">
      <input type="text" name="color" [(ngModel)]="color" placeholder="Color" class="form-control">
      <input type="text" name="placa" [(ngModel)]="placa" placeholder="Placa" class="form-control">
      <input type="text" name="puertas" [(ngModel)]="puertas" placeholder="# puertas" class="form-control">
      <input type="text" name="peso" [(ngModel)]="peso" placeholder="Peso" class="form-control">
      <input type="text" name="ano" [(ngModel)]="ano" placeholder="Año" class="form-control">
      <span class="input-group-addon mx-2">
        <button type="button" [hidden]="Addoculto" class="btn btn-success" (click)="addCarro()">
          <i class="fa fa-plus"></i>
        </button>
        <button type="button" [hidden]="Updateoculto" class="btn btn-info" (click)="updateCarro()">
          <i class="fa fa-edit"></i>
        </button>
      </span>
    </div>
  </div>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Color</th>
      <th>Placa</th>
      <th># Puertas</th>
      <th>Peso (kg)</th>
      <th>Año</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carro of carros">
      <td>
        {{carro.marca}}
      </td>
      <td>
        {{carro.modelo}}
      </td>
      <td>
        {{carro.color}}
      </td>
      <td>
        {{carro.placa}}
      </td>
      <td>
        {{carro.puertas}}
      </td>
      <td>
        {{carro.peso}}
      </td>
      <td>
        {{carro.ano}}
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-info" (click)="mostrarUpdate(carro)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteCarro(carro._id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
